body {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px;
  color: #fff;
  background: #f2f2f2;
  font: 10px/150% Verdana, Tahoma, sans-serif;
}
input,
select,
textarea {
  padding: 6px;
  border: solid 1px #e5e5e5;
  outline: 0;
  font: normal 13px/100% Verdana, Tahoma, sans-serif;
  width: 200px;
  background: #fff url("bg_form.png") left top repeat-x;
  background: -webkit-gradient(linear, left top, left 25, from(#fff), color-stop(4%, #eee), to(#fff));
  background: -moz-linear-gradient(top, #fff, #eee 1px, #fff 25px);
  box-shadow: rgba(0,0,0,0.1) 0px 0px 8px;
  -moz-box-shadow: rgba(0,0,0,0.1) 0px 0px 8px;
  -webkit-box-shadow: rgba(0,0,0,0.1) 0px 0px 8px;
}
textarea {
  width: 400px;
  max-width: 400px;
  height: 150px;
  line-height: 150%;
}
input:hover,
select:hover,
textarea:hover,
input:focus,
select:focus,
textarea:focus {
  border-color: #c9c9c9;
  -webkit-box-shadow: rgba(0,0,0,0.15) 0px 0px 8px;
}
h1 {
  font: 30px/150% Verdana, Tahoma, sans-serif;
  font-weight: bold;
  color: #fff;
  margin-left: 40px;
}
.submit input {
  width: auto;
  padding: 9px 15px;
  background: #617798;
  border: 0;
  font-size: 14px;
  color: #f00;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
#contacts {
  text-align: left;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding-bottom: 20px;
  width: 800px;
  background-color: #e4efff;
  border: 1px solid #9fc6ff;
  padding: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px 10px 10px 10px;
}
#contacts .contact {
  margin: 20px;
}
#contacts .contact .title {
  font: 14px/150% Verdana, Tahoma, sans-serif;
  font-weight: bold;
  background-color: #9f9f9f;
  color: #fff;
  padding-left: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px 10px 0 0;
}
#contacts .contact .notes {
  padding-left: 10px;
  background-color: #f2f2f2;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 0 0 10px 10px;
  border: 1px solid #9fc6ff;
}
.entete {
  text-align: left;
  padding-left: 10px;
  padding-bottom: 5px;
  margin-left: 10px;
  margin-right: 0px;
  width: 98%;
  background-color: #007293;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px 10px 0 0;
}
.rech {
  text-align: right;
  margin-bottom: 10px;
  margin-right: 30px;
  width: auto;
  background-color: #007293;
}
#contacts .contact input#delete,
#contacts .contact input#edit {
  width: 80px;
  background: #009ecc;
  color: #fff;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px 10px 10px 10px;
}
#contacts label,
td {
  font: 12px/150% Verdana, Tahoma, sans-serif;
  font-weight: bold;
  color: #000;
}
input#save,
input#update {
  margin-top: auto;
  margin-left: 40px;
  width: 100px;
  line-height: 16px;
  background: #009ecc;
  color: #fff;
  font-weight: bold;
}
input#rech {
  margin-top: auto;
  margin-left: auto;
  width: 100px;
  line-height: 16px;
  background: #009ecc;
  color: #fff;
  font-weight: bold;
}
a#add {
  padding-left: 10px;
  padding-bottom: 8px;
  padding-right: 10px;
  padding-top: 8px;
  margin-top: 5px;
  margin-left: 20px;
  margin-bottom: 10px;
  background: #009ecc;
  color: #fff;
  font: 14px/150% Arial, Tahoma, sans-serif;
  font-weight: bold;
  text-decoration: none;
}
a#retour {
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-top: 10px;
  margin-top: 5px;
  margin-left: auto;
  margin-bottom: 30px;
  font: 13px/150% Arial, Tahoma, sans-serif;
  font-weight: bold;
  color: #007293;
}
a#nom {
  color: #fff;
  font: 14px/150% Verdana, Tahoma, sans-serif;
  font-weight: bold;
}
p#msg {
  color: #000;
  font: 14px/150% Verdana, Tahoma, sans-serif;
}
p#nb {
  color: #000;
  font: 14px/150% Verdana, Tahoma, sans-serif;
}
#validateMsg {
  color: #f00;
  font: 14px/150% Verdana, Tahoma, sans-serif;
}
